#nav{
  background-color: white; 
  text-decoration: none;
  border: none;
}
#nav a {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  background-color: white;
  transition: background-color 0.5s ease;
  border-bottom: 2px solid white;
  margin: 0px;
}
#nav li{
  border-right: 3px bold white;
}
#nav a:hover {
  text-decoration: none;
  color: #7dd;
  background-color: #EEE; 
  border-bottom: 2px solid #7dd;
}
#nav a.down{
  text-decoration: none;
  color: #7dd;
  background-color: #EEE; 
  border-bottom: 2px solid #7dd
}

#nav a:active {
  color: #7dd;
  background-color: #EEE;
  cursor: pointer;
}

#carousel-example-generic .carousel-inner a{
  text-decoration: none;
  font-size: 30px;
  border: 2px solid #fff;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
}

#carousel-example-generic{
  background-image: url("images/bg2.png");
  background-color: #44c0c2;
  background-size: auto 100%;
  background-size: cover;
  background-size: container;
  margin: none;
}

.icon {
  padding: 50px 0px;
}

.icon .col-md-3 {
  text-align: center;
}

.icon .row {
  padding: 18px 0px;
}

.icon h4 {
  font-size: 25px;
  font-weight: bold;
  color: mediumturquoise;
}

.icon a {
  background-color: mediumturquoise;
  color: white;
  padding: 8px 8px 10px 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.5s ease;
}
.icon a:hover{
  background-color: #555; 
}

.Portfolio {
  background-color: whitesmoke;
  text-align: center;
  padding: 50px 0px;
}
.Portfolio .row{
  padding: 15px 10px;
}
.Portfolio a {
  font-size: 25px;
  padding: 1.5% 10%;
  background-color: mediumturquoise;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.5s ease;
}
.Portfolio a:hover{
  background-color: #555;
}

.team {
  text-align: center;
  padding: 30px 0px 40px 0px;
}
.team .row:first-child{
  padding-top: 10px;  
}
.team .row{
  padding: 25px 0px;
}
.team img{
  border-radius: 120px;
  size: 30px;
}
.team h1{
  font-size: 40px;
}
.team h2{
  font-size: 20px;
  color: mediumturquoise;
  font-weight: bold;
  height: 30px;
}
.team h5{
  font-weight: bold;
}

.cost-line1 p{
  background: #485460;
  font-size: 210%;
  line-height: 250%;
  margin: 0;
  color: white;
}
.cost-line2 p{
    font-size: 150%;
    font-weight: 170%;
    background: white;
    line-height: 240%;
    margin: 0;
}
.cost-norline p{
    color: dimgray;
    background: white;
    margin: 0;
    border-top: 2px solid #eeeeee; 
    line-height: 280%;    
}
#buy-now {
  font-size: 17px;
  text-decoration: none;
  color: white;
  padding:7px 35px 7px 35px;
  border: 2px solid white;
  border-radius: 7px;
  background: #868ab1;
  transition: background-color 0.5s ease
}
#buy-now:hover{
  background-color: skyblue;
}



.opinion a{
  text-decoration: none;
  background-color: white;
  color: dimgray;
  font-size: 25px;
}
.opinion a:hover{
  color: darkgray;
}

#contact{
  background-color: #000;
  text-align: center;
  background-position: center;
  background-image: url("images/cbg.png");
  padding: 50px 0px 50px 0px;
}
#contact .row{
  padding: 20px 0px;
}
#contact .col-md-6:first-child{
  text-align: left;
}
#contact .col-md-6:last-child{
  text-align: right;
  padding: 20px;
}
#left a{
  color: #9689B0;
  text-decoration: none;
  transition: color 0.5s ease
}
#left a:hover{
  color: whitesmoke;
}
#contact h2{
  font-size: 40px;
  color: whitesmoke;
  font-weight: lighter;
  padding: 10px 0px 15px 0px;
}
#Name{
  padding: 5% 0% 5% 1.5%;
  border-radius: 5px;
}
#Email{
  padding: 5% 0% 5% 1.5%;
  border-radius: 5px;
}
#Message{
  padding: 2% 0% 30% 3%;
  border-radius: 5px;
}
#Send{
  float: right;
  text-decoration: none;
  color: white;
  background-color: #49CBCD;
  padding: 13px 70px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}
#Send a:hover{
  background-color: #b9e9b9;
}

.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  background-color: transparent;
  padding: 1em;
  display: none;
  transition: background-color 0.5s ease;
}

.go-top:hover {
  background-color: transparent;
}